.sectionStyle{
  margin-top:5px;
  padding: 20px;
  text-align: center;
  width:60%;
  background-color: rgba(44,54,94,.1);
}

.headerStyle{
  margin-top:80px;
  font-size: 26px;
  color: rgb(44,54,94);
  text-align: center;
  font-family:Poppins, sans-serif;
  font-weight:bold;
  padding:10px
}

.secondaryHeader{
  padding:40px;
  font-size:20;
  color:rgb(44,54,94);
  font-family:Poppins, sans-serif;
  /* background: rgba(255,255,255,.4); */
}

.highlightText{
  font-size:24;
  color:#FF5941;
  font-weight:bold
}

.searchArea {
  background-color:#FF5941;
  color:#fffffa
}

.searchHeading{
  font-size:18px;
  color: rgb(44,54,94);
  font-weight:bold;
  font-family:Poppins, sans serif;
  /* background: rgba(255,255,255,.3);; */
  padding:20px;
}

.errorStyle{
  color:rgb(255,89,65);
  font-weight:bold;
  font-family:Poppins, sans serif;
}

.noResultsStyle{
  color:rgb(255,89,65);
  font-size:20;
  font-weight:bold;
  font-family:Fira Sans, sans serif
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .sectionStyle{
    width:100%;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .sectionStyle{
    width:100%;
  }
  .headerStyle{
    display: none;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .headerStyle{
    display: none;
  }
  .sectionStyle{
    width:90%;
  }

  .searchHeading{
    font-size: 20px;
    margin-top:40px;
    text-align: center
  }
}